.main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    height: 100vh;
    background-color: #FFCE99;
}

.header {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #f1edd5;
    padding: 30px;
    align-items: center;
    align-self: center;
    border-radius: 50px;
    width: 100%;
    max-width: 600px;
    transition: transform 0.3s ease-in-out;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    padding: 20px;
    background-color: #fcc8a1;
    width: 600px;
    height: 200px;
    max-height: 200px;
    padding: 50px;
    justify-content: space-evenly;
    border-radius: 50px;
    border: black solid 2px;
}

.correct {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    width: fit-content;
}

.false {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    width: fit-content;
}


input {
    padding: 10px;
    font-size: 16px;
    border: none ;
    border-radius: 50px;
    width: 100%;
    max-width: 200px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    background-color: #FF9644;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.test {
    color: red;
    font-weight: bold;
    font-size: 18px;
    user-select: none;
}

 @media (max-width: 600px) {

        .header {
            width: 80%;
        }
    .content {
        padding: 30px;
        max-width: 200px;
    }
    
 }

 @media (max-width: 480px) {
    .content {
        gap: 15px;
        padding: 40px;
    }
 }