<div class="main">
    <div class="header">
        <h1>Second Level : Text Captcha</h1>
        <p>To verify that you are a human, please type the following text: <span class="test">{{challengeForm.message().value()}}</span></p>
    </div>
    <div class="content">
        <input type="text" 
        #myInput
        [formField]="challengeForm.result" 
        (input)="challengeForm.notif().setControlValue('')" 
        (input)="challengeForm.error().setControlValue('')"
        autofocus
        >
        @if(challengeForm.result().invalid() && challengeForm.result().touched()) {
            <div class="false">
                @for (error of challengeForm.result().errors().slice(0, 1); track error.kind) {
                <p>{{ error.message }}</p>
                }
            </div>
        }
        @if (challengeForm.notif().value() != '') {
            <p class="correct">{{challengeForm.notif().value()}}</p>
        }
        @if (challengeForm.error().value() != '') {
            <p class="false">{{challengeForm.error().value()}}</p>
        }
        <button type="button" [disabled]="challengeForm().invalid()" (click)="submit()">Submit Answer</button>
        <button (click)="previous()">Return</button>
    </div>
</div>