.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  height: 100vh;
  background-color: #FFCE99;
}

.question {
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  background-color: #f58936;
  padding: 50px;
  border-radius: 10px;
  border: 2px solid #333;
}

.grid img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  border: 3px solid transparent;
  transition: 0.2s ease;
}

.grid img:hover {
  transform: scale(1.05);
}

.grid img.selected {
  border-color: #4caf50;
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.7);
}

.actions {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #ff9644;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.refresh {
  background-color: #777;
}

.error {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.notification {
  background-color: #21f344;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.grid.disabled {
  pointer-events: none;
  opacity: 0.7;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  .grid img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }
}